.text-type {
  display: inline-block;
  white-space: pre-wrap;

}

.text-type__content {
  display: inline-block;
}

.text-type__content.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}